<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Invalid Input</title>
</head>

<body>
    <main>
        <h1>
            <%- description %>
        </h1>
        <ul>
            <% if(validationErrors) { %>
                <% validationErrors.forEach(err=> { %>
                    <li>
                        <%- err.msg %>: <%- err.param %> "<%- err.value %>" in <%- err.location %>
                    </li>
                    <% }) %>
                        <% } %>
        </ul>
        <h4><a href="/">Back to Guestbook</a></h4>
    </main>

</body>

</html>